/* Make the whole page a light grey */
html {
    background-color: #ddd;
}

/* Make the actual body white, centered on the grey, with a sans-serif font */
body {
    background: #fff;
    max-width: 900px;
    padding: 10px;
    margin: 8px auto 8px;
    font-family: "Calibri", sans-serif;
}

/* Give the page title an underline across the page */
h1 {
    border-bottom: 1px solid;
    margin-bottom: 0px;
}

/* Make script tags with a code class visible */
script.code {
    display: block;
    overflow: auto;
    max-height: 600px;
    font-family: monospace;
    white-space: pre;
    border: 1px solid;
    background-color: #ccc;
    padding: 5px;
}

/* Make the console output look like a console */
#Console {
    display: none;
    font-family: monospace;
    white-space: pre;
    width: 100%;
    height: 200px;
    max-height: 600px;
    resize: vertical;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
    padding: 5px;
}

/* The script title should be prominant */
.title {
    display: block;
    position: relative;
    background-color: #777;
    color: #fff;
    font-weight: bold;
}

/* Give buttons in the script title some space */
.title button {
    margin: 2px 5px 2px 2px;    
}
